* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    
}

h1 {
    font-family: Montserrat;
   color: hsl(212, 21%, 14%);
    padding-bottom: 20px;
   
}

h5 {
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font: 1rem monospace;
    margin-bottom: 20px;
}

p {
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    line-height: 30px;
    padding-bottom: 20px;
    
    
}


.btn {
    display: inline-block;
    position: absolute;
    bottom:50px;
    background: hsl(158, 36%, 37%);
    background-image: -webkit-linear-gradient(top, hsl(158, 36%, 37%), hsl(158, 36%, 37%));
    background-image: -moz-linear-gradient(top, hsl(158, 36%, 37%), hsl(158, 36%, 37%));
    background-image: -ms-linear-gradient(top, hsl(158, 36%, 37%), hsl(158, 36%, 37%));
    background-image: -o-linear-gradient(top, hsl(158, 36%, 37%), hsl(158, 36%, 37%));
    background-image: linear-gradient(to bottom, hsl(158, 36%, 37%), hsl(158, 36%, 37%));
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 70px 14px 60px;
    border: solid #1f628d 0px;
    text-decoration: none;
    
  }

.container {
    display: flex;
    margin: 100px auto 0;
    height: 500px;
    width: 600px;
    border: 1px; 
    border-radius: 15px;

}


.second-div {
    
    position: relative;
    margin: 0 auto;
    font-family: Montserrat;
    background-color: hsl(0, 0%, 100%);
    height: 440px;
    padding: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img {
    height: 500px;
    width: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.price { 
    color: hsl(158, 36%, 37%) ;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    
}

.price-two {
text-decoration: line-through;
font-size: small;
color: hsl(228, 12%, 48%) ;
margin-left: 20px;
position: absolute;
bottom: 110px;
}

